name: Test Compatibility on Tag Release

on: [push, pull_request, workflow_dispatch]

permissions: {}

env:
  FORCE_COLOR: 1
  PIP_DISABLE_PIP_VERSION_CHECK: 1

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
        django-version: ['4.2', '5.2', '6.0']
        exclude:
          - { python-version: '3.10', django-version: '6.0' }
          - { python-version: '3.11', django-version: '6.0' }

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Dependencies
        run: |
          pip install -U pip
          pip install tox tox-gh-actions
          pip install django==${{ matrix.django-version }}

      - name: Run Tests
        run: |
          tox
